<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href='/static/css/style_info.css'/>
</head>
<body>
    <h1>State:</h1>
    <pre style="background-color: lightgray; font-size: 20px; margin-left: 1.2em">{{ state }}</pre>
    <h1>Cases per 100k:</h1>
    <pre style="background-color: lightgray; font-size: 20px; margin-left: 1.2em">{{ analysis }}</pre>
    <br>
    <form action="/" method="GET">
        <input type="submit" value="Back">
    </form>
</body>
</html>